<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="./dashboard.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="animate__animated animate__lightSpeedInLeft">
            FRUITS.Ai
        </h1>
        <h3 class="animate__animated animate__lightSpeedInRight">
            "Be Healthy!"
        </h3>
    </header>
    <div class="container">
        <div class="data">
            <a href="/chat">
                <div>
                    Chat
                </div>
            </a>
            <a href="#">
                <div></div>
            </a>
            <a href="/faq">
                <div>
                    FAQs
                </div>
            </a>
            <a href="#">
                <div></div>
            </a>
            <a href="/about">
                <div>
                    About
                </div>
            </a>
            <a href="#">
                <div></div>
            </a>
        </div>
    </div>
</body>
</html>